<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StartingWaveTimer</key>
	<integer>5</integer>
	<key>WaveTimerMultiplier</key>
	<real>0.99</real>
	<key>Animations</key>
	<dict>
		<key>ShiftAnimationDuration</key>
		<real>0.15</real>
		<key>DropAnimationDuration</key>
		<real>0.2</real>
		<key>DangerAnimationDuration</key>
		<real>0.5</real>
		<key>CreateAnimationDuration</key>
		<real>0.2</real>
		<key>DestroyAnimationDuration</key>
		<real>0.3</real>
	</dict>
	<key>ShiftGameActionDuration</key>
	<real>0.1</real>
	<key>DropGameActionDuration</key>
	<real>0.15</real>
	<key>EnemyWidth</key>
	<integer>50</integer>
	<key>EnemyHeight</key>
	<integer>70</integer>
	<key>Enemies</key>
	<array>
		<dict>
			<key>Color</key>
			<string>#FFA500</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>#FF00FF</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>#228B22</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>#4169E1</string>
		</dict>
	</array>
</dict>
</plist>
